:root {
    --bg-primary: #000000;

    --accent-color: #CC5500;
    --accent-color-secundary: ##A18C72;

    --text-main: #FFFFFF;
    --text-secondary: #E0E0E0;

    --card-bg: rgba(255, 255, 255, 0.05);
    --card-border: rgba(255, 255, 255, 0.1);

    --font-primaria: "Inter", sans-serif;
    --font-secundaria: "Playfair", serif;
}

@media (min-width:1024px) {
    header {
        background-color: var(--bg-primary);
        border-bottom: 1px solid var(--accent-color);
        padding: 3px 15px;

        .navbar {
            background-color: var(--bg-primary);
            display: flex;
            flex-direction: row;
            position: static;
            justify-content: right;
            border-bottom: none;
            padding: 15px;
        }

        button {
            display: none;
        }

    }

    main {
        .apresentacao-header {
            max-width: 700px;

            h1 {
                font-size: 7rem;
                text-align: center;
                line-height: 110px;
            }
        }

        .apresentacao-main {
            .apresentacao-img img {
                width: 30vw;
            }
        }

        .apresentacao_botoes {
            flex-direction: row;
            margin-top: 20px;
            gap: 100px;
        }

        .apresentacao_descricao {
            gap: 200px;
            border-top: 1px solid var(--card-border);
            padding-top: 40px;
        }
    }

    .menu-header {
        margin-top: 50px;

        h2 {
            font-size: 5rem;
        }
    }

    .menu_cards {
        flex-wrap: wrap;
        flex-direction: row;

        .menu_card {
            width: 100vw;
        }
    }
}